{#
  Shared language context
  - Normal site FR pages are at /
  - Normal site EN pages are under /en
  - This HubSpot blog's published listing variants are:
    FR: /fr
    EN: /
#}
{% set path = request.path|default('')|lower %}
{% set current_lang = 'fr' %}
{% if content and content.language and content.language.languageTag and content.language.languageTag|lower|slice(0,2) == 'en' %}
  {% set current_lang = 'en' %}
{% elif group and group.language and group.language.languageTag and group.language.languageTag|lower|slice(0,2) == 'en' %}
  {% set current_lang = 'en' %}
{% elif html_lang and html_lang|lower|slice(0,2) == 'en' %}
  {% set current_lang = 'en' %}
{% elif path|slice(0,3) == '/en' %}
  {% set current_lang = 'en' %}
{% endif %}
{% set is_blog_listing = (path == '/fr') or (path == '/fr/') or (contents and not content.post_body) or simple_list_page or tag or blog_author %}
{% set blog_listing_fr_url = 'https://thegreengage-substack-342637523.hs-sites-na3.com/fr' %}
{% set blog_listing_en_url = 'https://thegreengage-substack-342637523.hs-sites-na3.com/' %}
{% set website_home_url = '/en' if current_lang == 'en' else '/' %}
