<!--
  templateType: page
  isAvailableForNewContent: false
  label: Disclaimer
  screenshotPath: ../images/template-disclaimer.png
-->
{# Deprecated: use the standard-page template instead. #}
{% extends './layout/base.hubl.html' %}

{% block body %}
  {% dnd_area 'disclaimer_main', class='body-container-wrapper' %}
    {% dnd_section max_width=900, padding={"top": 56, "bottom": 64} %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path='../modules/rich-text-section.module',
            heading='Disclaimer',
            content='<p>The material on this site is for educational and reflective purposes. It is not medical, legal, or financial advice.</p>',
            section_id='disclaimer',
            style_variant='narrow'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  {% end_dnd_area %}
{% endblock body %}
